@import url("https://fonts.googleapis.com/css?family=Poppins");
body {
	width: 100%;
	padding: 0;
	margin: 0;
	font-family: "Poppins";
	overflow-x: hidden;
}

:root {
	font-family: "Poppins";
}

select,
input,
button,
span,
div {
	font-family: "Poppins";
}

span>svg {
	transition: 1s all;
}

span>svg:hover {
	transform: scale(1.2);
}

.sub>svg {
	transition: 1s all;
}

.sub>svg:hover {
	transform: scale(1.2);
}

.app-container {
	width: 100%;
	height: 90vh;
	display: flex;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1006%26quot%3b)' fill='none'%3e%3cpath d='M523 447L522 835' stroke-width='8' stroke='url(%23SvgjsLinearGradient1007)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1002 298L1001 700' stroke-width='6' stroke='url(%23SvgjsLinearGradient1008)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M673 488L672 145' stroke-width='6' stroke='url(%23SvgjsLinearGradient1008)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M551 389L550 175' stroke-width='6' stroke='url(%23SvgjsLinearGradient1008)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M61 166L60 470' stroke-width='6' stroke='url(%23SvgjsLinearGradient1007)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M797 428L796 65' stroke-width='10' stroke='url(%23SvgjsLinearGradient1007)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1244 285L1243 136' stroke-width='8' stroke='url(%23SvgjsLinearGradient1007)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M211 54L210 201' stroke-width='6' stroke='url(%23SvgjsLinearGradient1008)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M764 488L763 741' stroke-width='10' stroke='url(%23SvgjsLinearGradient1007)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M651 68L650 -163' stroke-width='6' stroke='url(%23SvgjsLinearGradient1007)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M613 545L612 209' stroke-width='6' stroke='url(%23SvgjsLinearGradient1007)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M681 248L680 -91' stroke-width='10' stroke='url(%23SvgjsLinearGradient1008)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M403 17L402 -297' stroke-width='10' stroke='url(%23SvgjsLinearGradient1008)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M589 86L588 334' stroke-width='6' stroke='url(%23SvgjsLinearGradient1008)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M925 271L924 438' stroke-width='6' stroke='url(%23SvgjsLinearGradient1007)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1098 98L1097 451' stroke-width='10' stroke='url(%23SvgjsLinearGradient1008)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M792 87L791 263' stroke-width='10' stroke='url(%23SvgjsLinearGradient1007)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M107 333L106 493' stroke-width='8' stroke='url(%23SvgjsLinearGradient1008)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1330 249L1329 405' stroke-width='10' stroke='url(%23SvgjsLinearGradient1008)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1340 190L1339 577' stroke-width='6' stroke='url(%23SvgjsLinearGradient1007)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M647 195L646 -87' stroke-width='8' stroke='url(%23SvgjsLinearGradient1007)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1283 468L1282 124' stroke-width='6' stroke='url(%23SvgjsLinearGradient1007)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M961 146L960 415' stroke-width='10' stroke='url(%23SvgjsLinearGradient1008)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M668 426L667 773' stroke-width='10' stroke='url(%23SvgjsLinearGradient1008)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M839 406L838 191' stroke-width='6' stroke='url(%23SvgjsLinearGradient1008)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M220 374L219 627' stroke-width='10' stroke='url(%23SvgjsLinearGradient1008)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1208 522L1207 190' stroke-width='6' stroke='url(%23SvgjsLinearGradient1008)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M368 161L367 -29' stroke-width='6' stroke='url(%23SvgjsLinearGradient1008)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M277 263L276 683' stroke-width='6' stroke='url(%23SvgjsLinearGradient1007)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1043 78L1042 304' stroke-width='6' stroke='url(%23SvgjsLinearGradient1008)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1153 364L1152 -31' stroke-width='6' stroke='url(%23SvgjsLinearGradient1008)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M654 82L653 320' stroke-width='8' stroke='url(%23SvgjsLinearGradient1008)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1429 98L1428 350' stroke-width='10' stroke='url(%23SvgjsLinearGradient1008)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M971 426L970 622' stroke-width='8' stroke='url(%23SvgjsLinearGradient1008)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M769 49L768 -288' stroke-width='10' stroke='url(%23SvgjsLinearGradient1008)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M523 524L522 889' stroke-width='10' stroke='url(%23SvgjsLinearGradient1007)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1006'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='0%25' x2='0%25' y2='100%25' id='SvgjsLinearGradient1007'%3e%3cstop stop-color='rgba(15%2c 0%2c 255%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(15%2c 0%2c 255%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='0%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1008'%3e%3cstop stop-color='rgba(15%2c 0%2c 255%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(15%2c 0%2c 255%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}

.app-wrapper {
	margin: auto;
	display: flex;
	width: 70%;
	align-items: center;
	border-radius: 8px;
	padding: 20px;
	justify-content: center;
	flex-direction: column;
	background-color: #fff;
	box-shadow: rgb(0 0 0 / 1%) 0 1px 0, rgb(0 0 0 / 3%) 0 0 8px, rgb(0 0 0 / 8%) 0 20px 30px;
}

.inp-wrap {
	display: flex;
	align-items: center;
	font-family: "Poppins";
}

.links-container {
	width: 60%;
	justify-content: center;
}

.link-input {
	border: 2px solid #9900ff;
	outline: none;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding: 10px;
	font-family: "Poppins";
	border-radius: 5px;
	font-family: 'Poppins';
	width: 90%;
}

.grey-t {
	margin: auto;
	font-size: 14px;
	color: #726f6f;
	margin-top: 15px;
}

.links-gallery-container {
	width: 100%;
	display: flex;
}

.links-g {
	width: 80%;
	margin: auto;
	justify-content: center;
	align-items: center;
}

.l-head {
	padding: 8px;
}

.tags-list {
	border: 2px solid #9900ff;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.coll-main {
	min-height: calc(90vh - 75px);
}

.grid-container {
	margin: 10px;
	padding: 2px;
}

.grid {
	display: flex;
	flex-wrap: wrap;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-auto-rows: minmax(150px, auto);
	grid-gap: 2em;
}

.module {
	background: #222;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 150px;
	margin: 5px;
	margin-left: 5px;
	margin-right: 5px;
	flex: 1 1 200px;
	cursor: pointer;
}

.lazyloaded {
	border-radius: 3px;
}

.module:hover {
	border: 3px solid #189ef8;
	border-radius: 4px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

@supports (display: grid) {
	.module {
		margin: 0;
	}
}

.explore {
	border-radius: 20px;
	display: flex;
	align-items: center;
	margin: auto;
	width: 150px;
	border: 1px solid #9900ff;
	background: #fff;
	color: var(--color);
	padding: 10px;
	padding: 0 15px;
	position: relative;
	text-align: center;
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	font-weight: 900;
}

.head-nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.search-wrapper {
	display: flex;
	align-items: center;
}

.search-wrapper {
	border: 2px solid #9900ff;
	outline: none;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding: 10px;
	border-radius: 5px;
	font-family: 'Poppins';
	width: 300px;
}

.search-bar {
	padding: 10px;
	font-family: "Poppins";
	border: 0;
	outline: none;
}

.tag-r {
	float: right;
	margin-left: auto;
	margin-right: 0;
	padding: 6px 10px 6px 10px;
	border-radius: 3px;
	font-weight: 900;
	color: #fff;
	background-color: #9900ff;
}

.bottom-slab {
	position: fixed;
	width: 400px;
	bottom: 70px;
	z-index: 999;
	display: flex;
	align-items: center;
	left: 50%;
	transform: translateX(-50%);
}

.title-main {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 13px;
}

.sim-input {
	border: 0;
	padding: 10px;
	font-family: "Poppins";
	font-size: 18px;
	border-bottom: 1px solid grey;
	margin-left: 20px;
}

.selectbor {
	position: relative;
	padding: 10px;
	border: none;
	border-right: 10px solid #fff;
	outline: none;
	width: 200px;
	border-radius: 4px;
	cursor: pointer;
	box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
	margin-left: 4px;
}

.dropsel {
	border: 2px solid #9900ff;
	padding: 5px 12px 5px 12px;
	border-radius: 3px;
	display: flex;
	align-items: center;
}

header {
	overflow: hidden;
	background: #222;
}

header a,
header label {
	display: block;
	padding: 20px;
	color: #fff;
	text-decoration: none;
	line-height: 20px;
}

header a:hover,
header label:hover {
	color: #aaa;
}

header label {
	float: right;
	padding: 18px 20px;
	cursor: pointer;
}

header label:after {
	content: "\2261";
	font-size: 1.8em;
}

.logo {
	float: left;
	font-weight: bold;
	font-size: 1.5em;
	display: flex;
	align-items: center;
	justify-content: center;
}

.logo>span {
	margin-left: 10px;
}

nav {
	float: right;
	max-height: 0;
	width: 100%;
	-webkit-transition: max-height 0.3s;
	-moz-transition: max-height 0.3s;
	-o-transition: max-height 0.3s;
	transition: max-height 0.3s;
}

nav ul {
	margin: 0;
	padding: 0;
	padding-bottom: 10px;
}

nav li {
	display: block;
	text-align: center;
}

nav a {
	padding: 10px;
	width: 100%;
}

#nav {
	display: none;
}

#nav:checked~nav {
	max-height: 200px;
	/* This can be anything bigger than your nav height. The transition duration works with this */
}

@media only screen and (min-width: 700px) {
	header label {
		display: none;
	}
	nav {
		width: auto;
		max-height: none;
	}
	nav ul {
		padding: 0;
		padding-right: 10px;
	}
	nav li {
		display: inline-block;
		text-align: left;
	}
	header nav span {
		display: inline-block;
		padding: 20px 10px;
		width: auto;
	}
}

.footer {
	display: flex;
	align-items: center;
	background-color: #222222;
	padding: 20px 10px 20px 10px;
	top: auto;
	bottom: 0;
}

.footer-con {
	margin: auto;
	width: 90%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.s-links>a {
	color: #fff;
	text-decoration: none;
	transition: 1s all;
	margin-left: 20px;
	font-weight: 900;
}

.s-links>a:hover {
	color: #6620FF;
	transform: scale(1.3);
}

.social {
	margin-left: auto;
	margin-right: 0px;
	float: right;
}

.module {
	border-radius: 6px;
	flex-direction: column;
	overflow: hidden;
	position: relative;
	height: 300px;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	position: relative;
	box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%);
	border: 3px solid transparent;
	-moz-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .2);
	-webkit-box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%);
	transition: 1s all;
	-moz-transition: 1s all;
	-o-transition: 1s all;
	-webkit-transition: 1s all;
}

.wrapper-image {
	height: 250px;
	width: 100%;
	background-size: cover;
	background-position: center;
	border-bottom: 1px solid grey;
}

.promo-img {
	height: 100px;
	object-fit: cover;
	pointer-events: none;
	position: relative;
	height: 100%;
	width: 100%;
}

.info {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	gap: 2px;
	padding: 10px 10px;
	width: 90%;
}

.wrapper-title {
	align-items: center;
	display: flex;
	gap: 10px;
}

.favicon {
	display: flex;
	flex-shrink: 0;
	height: 16px;
	width: 16px;
	margin-right: 6px;
}

.title {
	font-family: PoppinsMedium, sans-serif;
	font-size: 16px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #fff;
	font-weight: 700;
}

.extra {
	align-items: center;
	display: flex;
	justify-content: space-between;
	gap: 10px;
}

.url {
	color: #9b9b9b;
	;
	font-size: 11px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.spacer {
	flex-grow: 1;
	margin-left: calc(-1*10px);
}

.wrapper-counts {
	display: flex;
	gap: 1px;
}

.icon-text {
	color: #9b9b9b;
	display: flex;
	align-items: center;
}

.iconz {
	display: flex;
	height: 13px;
	width: 13px;
}

.text {
	margin-left: 15px;
	font-size: 13px;
	white-space: nowrap;
}

.promoimg {
	pointer-events: none;
	position: relative;
	height: 100%;
	width: 100%;
}

.sub {
	background: transparent;
	outline: none;
	border: 0;
	display: flex;
	align-items: center;
	cursor: pointer;
}

svg {
	cursor: pointer;
}

.tag {
	border: 2px solid #9900FF;
	border-radius: 12px;
	padding: 3px 6px 3px 6px;
}

.boxc {
	background: #eaeaea;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 150px;
	margin: 5px;
	margin-left: 5px;
	margin-right: 5px;
	flex: 1 1 200px;
	border-radius: 10px;
	cursor: pointer;
	flex-direction: column;
	border: 2px solid transparent;
}

.boxc:hover {
	border: 2px solid #189ef8;
	border-radius: 4px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.front {
	color: #333;
	font-size: 12px;
	margin-top: 8px;
}

.fr-title {
	font-size: 18px;
	font-weight: 900;
	word-break: break-all;
}

.page-wrapper {
	border-radius: 12px;
	padding: 10px;
	flex-direction: column;
	display: flex;
	justify-content: center;
	max-width: 75%;
	width: 75%;
	background: linear-gradient(318.32deg, #c3d1e4 0%, #dde7f3 55%, #d4e0ed 100%);
	box-shadow: 4px 2px 16px rgba(136, 165, 191, 0.48), -4px -2px 16px #ffffff;
}

.controls {
	display: flex;
	position: absolute;
	right: 10px;
	top: 10px;
	padding: 10px;
	opacity: 0;
	transition: 1s all;
	cursor: pointer;
	pointer-events: auto;
	border-radius: 6px;
	background-color: #333;
}

.module:hover .controls {
	opacity: 1;
}

.pop-container {
	position: fixed;
	z-index: 999;
	right: 30px;
	width: 300px;
	top: 90px;
	background-color: #333;
	color: #fff;
	border-radius: 8px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	display: none;
}

#tabtn {
	font-size: 13px;
	font-weight: 400;
}

.p-item {
	display: flex;
	padding: 10px;
	cursor: pointer;
	align-items: center;
	margin-bottom: 8px;
	border-radius: 8px;
}

.p-item:hover {
	background-color: rgb(78, 76, 76);
}

.p-item>span {
	margin-left: 8px;
	font-weight: 900;
}


/* Notifications toast styles  */

#toast {
	visibility: hidden;
	max-width: 50px;
	height: 50px;
	margin: 0 auto;
	background-color: #333;
	color: #fff;
	text-align: center;
	border-radius: 2px;
	position: fixed;
	z-index: 1;
	left: 0;
	right: 0;
	bottom: 30px;
	font-size: 17px;
	white-space: nowrap;
}

#toast #img {
	width: 50px;
	height: 50px;
	margin: 10px;
	float: left;
	box-sizing: border-box;
	background-color: #111;
	color: #fff;
}

#toast #desc {
	color: #fff;
	padding: 10px;
	text-align: center;
	overflow: hidden;
	white-space: nowrap;
}

#toast.show {
	visibility: visible;
	-webkit-animation: fadein 0.5s, expand 0.5s 0.5s, stay 3s 1s, shrink 0.5s 2s, fadeout 0.5s 2.5s;
	animation: fadein 0.5s, expand 0.5s 0.5s, stay 3s 1s, shrink 0.5s 4s, fadeout 0.5s 4.5s;
}


/* === ANIMATIONS === */

@-webkit-keyframes fadein {
	from {
		bottom: 0;
		opacity: 0;
	}
	to {
		bottom: 30px;
		opacity: 1;
	}
}

@keyframes fadein {
	from {
		bottom: 0;
		opacity: 0;
	}
	to {
		bottom: 30px;
		opacity: 1;
	}
}

@-webkit-keyframes expand {
	from {
		min-width: 50px
	}
	to {
		min-width: 350px
	}
}

@keyframes expand {
	from {
		min-width: 50px
	}
	to {
		min-width: 350px
	}
}

@-webkit-keyframes stay {
	from {
		min-width: 350px
	}
	to {
		min-width: 350px
	}
}

@keyframes stay {
	from {
		min-width: 350px
	}
	to {
		min-width: 350px
	}
}

@-webkit-keyframes shrink {
	from {
		min-width: 350px;
	}
	to {
		min-width: 50px;
	}
}

@keyframes shrink {
	from {
		min-width: 350px;
	}
	to {
		min-width: 50px;
	}
}

@-webkit-keyframes fadeout {
	from {
		bottom: 30px;
		opacity: 1;
	}
	to {
		bottom: 60px;
		opacity: 0;
	}
}

@keyframes fadeout {
	from {
		bottom: 30px;
		opacity: 1;
	}
	to {
		bottom: 60px;
		opacity: 0;
	}
}

#pop-x {
	right: 10px;
	position: absolute;
}

.btnsvg {
	transition: 1s all;
	opacity: 0;
}

.btnsvg:hover {
	transform: scale(1.2);
}

.swing {
	-webkit-animation: swing 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	animation: swing 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

@-webkit-keyframes swing {
	0% {
		-webkit-transform: rotateX(-70deg);
		transform: rotateX(-70deg);
		-webkit-transform-origin: bottom;
		transform-origin: bottom;
		opacity: 0;
	}
	100% {
		-webkit-transform: rotateX(0);
		transform: rotateX(0);
		-webkit-transform-origin: bottom;
		transform-origin: bottom;
		opacity: 1;
	}
}

@keyframes swing {
	0% {
		-webkit-transform: rotateX(-70deg);
		transform: rotateX(-70deg);
		-webkit-transform-origin: bottom;
		transform-origin: bottom;
		opacity: 0;
	}
	100% {
		-webkit-transform: rotateX(0);
		transform: rotateX(0);
		-webkit-transform-origin: bottom;
		transform-origin: bottom;
		opacity: 1;
	}
}

.slitin {
	-webkit-animation: slitin 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slitin 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slitin {
	0% {
		-webkit-transform: translateZ(600px);
		transform: translateZ(600px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		opacity: 1;
	}
}

@keyframes slitin {
	0% {
		-webkit-transform: translateZ(600px);
		transform: translateZ(600px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		opacity: 1;
	}
}

@-webkit-keyframes rollin {
	0% {
		-webkit-transform: translateY(800px) rotate(540deg);
		transform: translateY(800px) rotate(540deg);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0) rotate(0deg);
		transform: translateY(0) rotate(0deg);
		opacity: 1;
	}
}

@keyframes rollin {
	0% {
		-webkit-transform: translateY(800px) rotate(540deg);
		transform: translateY(800px) rotate(540deg);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0) rotate(0deg);
		transform: translateY(0) rotate(0deg);
		opacity: 1;
	}
}

.rollin {
	-webkit-animation: rollin 1s ease-out both;
	animation: rollin 1s ease-out both;
}

.about_container {
	width: 100%;
	display: flex;
	height: 100vh;
	background-image: linear-gradient(to right top, #051937, #052d67, #1b4099, #3f52cc, #6b62ff);
}

.a_inner {
	width: 80%;
	margin: auto;
	display: flex;
	align-items: center;
	color: #fff;
}

.a_inner>div {
	width: 50%;
}

.a_heading {
	font-size: 28px;
	font-weight: 900;
}

.imgab {
	width: 100%;
	border-radius: 10px;
}

.sim-input:focus~.btnsvg {
	opacity: 1;
}

.warning {
	color: rgb(245, 52, 52);
	font-weight: 900;
}

.success {
	color: rgb(0, 255, 157);
	font-weight: 900;
}

.alert-popup {
	position: fixed;
	z-index: 2000;
	left: 20px;
	width: 300px;
	bottom: 10px;
	background-color: #333;
	color: #fff;
	border-radius: 8px;
	border: 3px dashed #eee;
	transition: 1s all;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	-webkit-animation: tilti 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: tilti 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.titli {
	-webkit-animation: tilti 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: tilti 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes tilti {
	0% {
		-webkit-transform: rotateY(-20deg) rotateX(-35deg) translate(-300px, 300px) skew(-35deg, 10deg);
		transform: rotateY(-20deg) rotateX(-35deg) translate(-300px, 300px) skew(-35deg, 10deg);
		opacity: 0;
	}
	100% {
		-webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
		transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
		opacity: 1;
	}
}

@keyframes tilti {
	0% {
		-webkit-transform: rotateY(-20deg) rotateX(-35deg) translate(-300px, 300px) skew(-35deg, 10deg);
		transform: rotateY(-20deg) rotateX(-35deg) translate(-300px, 300px) skew(-35deg, 10deg);
		opacity: 0;
	}
	100% {
		-webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
		transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
		opacity: 1;
	}
}

.close_alertp {
	right: 10px;
	position: absolute;
}

.main-container {
	width: 100%;
	display: flex;
	background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

.inner-content {
	width: 80%;
	margin: auto;
	display: flex;
	flex-direction: column;
	padding: 20px;
	justify-content: center;
	align-items: center;
}

.box-header {
	display: flex;
	margin: auto;
	text-align: center;
	flex-direction: column;
	justify-content: center;
	color: #fff;
}

.tagline {
	font-weight: 900;
	font-size: 38px;
}

.purple {
	color: #9B5DE5;
}

.flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.middle-container {
	flex-wrap: wrap;
	width: 100%;
	margin-top: 20px;
}

.box {
	width: 300px;
	-webkit-animation: tilti 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: tilti 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	padding: 20px;
	background-color: #fff;
	border-radius: 10px;
	border: 3px solid #9B5DE5;
	margin: 15px;
}

.coll_form {
	display: flex;
}

fieldset {
	border: 0;
}

.switch input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

.switch {
	cursor: pointer;
	display: inline-block;
	font-size: 20px;
	height: 1em;
	width: 2em;
	background: #BDB9A6;
	border-radius: 1em;
}

.switch div {
	height: 1em;
	width: 1em;
	border-radius: 1em;
	background: #FFF;
	box-shadow: 0 0.1em 0.3em rgba(0, 0, 0, 0.3);
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	transition: all 300ms;
}

.switch input:checked+div {
	-webkit-transform: translate3d(100%, 0, 0);
	-moz-transform: translate3d(100%, 0, 0);
	transform: translate3d(100%, 0, 0);
	background-color: #6620FF;
}

.app-container>h1 {
	text-align: center;
}

.tags-list-main {
	border: 2px solid #9900ff;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@media (max-width: 900px) {
	.links-g {
		width: 100%;
	}
	.coll_form {
		flex-direction: column;
	}
	.l-head {
		display: flex;
		flex-direction: column;
	}
	.title-main {
		padding: 0;
	}
	.tags-list {
		padding: 10px;
		flex-direction: column;
	}
	.tags-list-main {
		padding: 10px;
	}
	.head-nav {
		margin-bottom: 10px;
	}
	.p-item>span {
		font-size: 13px;
	}
	.bottom-slab {
		width: 75%;
	}
	.links-container {
		width: 90%;
	}
}