{% extends 'base.html' %} 
{% load static %}
{% block content %}
<div class="about_container">
    <div class="a_inner">
        <div>
            <div class="a_heading">UniLink</div>
            <p class="subtitle">Your new friendly link manager!</p>
            <p>Unilink makes it easy to organise and share your links with others.</p>
            <p>With unilink you may make a links collection and share it with others.</p>
            <p>People may also edit add their links too.</p>
        </div>

        <div>
            <img class="lazy imgab swing" data-src="{% static 'img/jgj.PNG' %}" alt="">
        </div>
    </div>
</div>
{% endblock content %}