{% extends 'base.html' %} 
{% load static %}
{% block content %}
<div class="main-container">
   <div class="inner-content">
      <div class="box-header">
         <p>STEPS</p>
         <div class="tagline">
            How it <span class="purple">Works?</span>
         </div>
      </div>
      <div class="middle-container flex">
         <div class="box">
            <h2>1. Create a collection</h2>
            <p>Visit the main paste the link and click on + button. </p>
         </div>
         <div class="box">
            <h2>2. Add a password to your collection if you don't want others to add links in it.</h2>
            <p>Paste as many links as you want.</p>
         </div>
         <div class="box">
            <h2>3. Blazing fast automation!</h2>
            <p>All the links title, images, descriptions gets added automatically by the tool, so you don't need to add them manually.</p>
         </div>
         <div class="box">
            <h2>4. Share it with your friends.</h2>
            <p>You may also share your password with them to let them add their contibutions too.</p>
         </div>
         <div class="box">
            <h2>5. Easy search</h2>
            <p>Search your links in a collection seemingly.</p>
         </div>
         <div class="box">
            <h2>6. Express what's the collection is for!</h2>
            <p>You may add title, description to a collection.</p>
         </div>
         <div class="box">
            <h2>7. Password can be created only once for a collection.</h2>
            <p>Don't forget it keep it with you at safe place.</p>
         </div>
         <div class="box">
            <h2>8. Simplest for even school kids!</h2>
            <p>Any school kids can use this tool to maange their links with ease can be it assignments, docs, homework or maybe any youtube tutorial.</p>
         </div>
         <div class="box">
            <h2>9. Fully opensourced</h2>
            <p>Everything is opensourced checkout the github its first tool, that is opensourced in this genre.</p>
         </div>
         <div class="box">
            <h2>10. Privacy free & customizable</h2>
            <p>You can set your collection as private so that it will be with you only! <br> and will never appear on the main site collections. <br> You may always tune up this thing that is the owner of the collection.</p>
         </div>
      </div>
   </div>
</div>
{% endblock content %}